<launch>
  <node pkg="usb_cam" type="usb_cam_node" name="webcam_publisher" clear_params="true">
    <param name="video_device" value="/dev/webcam" />
    <param name="framerate" value="15" />
    <param name="autofocus" value="true" />
    <param name="camera_name" value="webcam" />
    <param name="pixel_format" value="yuyv" />
  </node>
  <node pkg="webcam" type="webcam_compression" name="webcam_compression" />
</launch>