<launch>
	<param name="controller_source" value="remote" />
	<param name="isAutonomous" value="false" />
	<param name="remote_ip" value="192.168.0.190" />
	<param name="remote_port" value="42424" />
	<param name="polling_rate" value="10" />

	<node pkg="telemetry" type="telemetry.py" name="telemetry"/>
	<node pkg="autonomy" type="autonomy_actions.py" name="autonomy_actions" />

	<node pkg="locomotion" type="steering.py" name="steering" />
	<node pkg="motors" type="serial_stepper_control.py" name="steppers" />
	<node pkg="motors" type="maxon_drive_controller.py" name="brushless"/>
	
	<node pkg="locomotion" type="cameras.py" name="cameras" />
	<node pkg="motors" type="servos.py" name="servos" />

	<node pkg="locomotion" type="digging.py" name="digging" />
	<node pkg="motors" type="digger_motor_controller.py" name="brushed"/>
	<node pkg="motors" type="angle_sense.py" name="angle_sense"/>

    	<node name="map_server" pkg="map_server" type="map_server" args="$(find maps)/arena.yaml" />

	<node name="pozyx" pkg="localization" type="Pozyx.py"/>

	<node name="fiducials" pkg="localization" type="pose_estimation.py" output="screen" />

	<node name="tf_static" pkg="robot_tf" type="static_transforms.py" />

	<include file="$(find autonomy)/launch/localization.launch" />

   	<include file="$(find autonomy)/launch/realsense.launch" />

    
	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find launch)/rviz/rviz_config.rviz" />

</launch>

