<launch>
	<param name="controller_source" value="remote" />

	<param name="isAutonomous" value="false" />
	<param name="polling_rate" value="25" />
	<param name="remote_ip" value="192.169.0.69" />
	<param name="remote_port" value="42424" />
	<node pkg="telemetry" type="telemetry.py" name="telemetry" />
	<node pkg="locomotion" type="steering.py" name="steering" />
	<node pkg="motors" type="serial_stepper_control.py" name="serial_stepper_control" />
</launch>
