<launch>
	<param name="controller_source" value="remote" />
	<param name="isAutonomous" value="false" />
	<param name="multicast_address" value="224.1.1.1" />
	<param name="multicast_port" value="42420" />
	<param name="polling_rate" value="0.5" />

	<node pkg="telemetry" type="telemetry.py" name="telemetry" />
	<node pkg="locomotion" type="steering.py" name="steering" />
	<node pkg="locomotion" type="digging.py" name="digging" />
	<node pkg="motors" type="serial_stepper_control.py" name="steppers" />
	<node pkg="motors" type="maxon_drive_controller.py" name="drive" />
	<node pkg="motors" type="digger_motor_controller.py" name="dig" />
</launch>

