<launch>
  <node pkg="robot_localization" type="ekf_localization_node" name="robot_localization_ekf_node_map" clear_params="true">
    <param name="frequency" value="10" />
    <param name="sensor_timeout" value="0.2" />
    <param name="two_d_mode" value="true" />
    <param name="publish_tf" value="true" />
    <param name="map_frame" value="map" />
    <param name="odom_frame" value="odom" />
    <param name="base_link_frame" value="base_link" />
    <param name="world_frame" value="map" />

    <param name="pose0" value="sensors/pozyx/pose" />
    <rosparam param="pose0_config">
    [true, true, false,
     false, false, false,
     false, false, false,
     false, false, false,
     false, false, false]</rosparam>
     <param name="imu0" value="sensors/pozyx/imu" />

    <param name="pose1" value="sensors/fiducial/pose1" />
    <rosparam param="pose1_config">
    [true, true, flase,
     false, false, true,
     false, false, false,
     false, false, false,
     false, false, false]</rosparam>

    <param name="pose3" value="sensors/fiducial/pose3" />
    <rosparam param="pose3_config">
    [true, true, true,
     false, false, true,
     false, false, false,
     false, false, false,
     false, false, false]</rosparam>

     <param name="imu0" value="sensors/pozyx/imu" />
     <rosparam param="imu0_config">
      [false, false, false,
       false, false, false,
       false, false, false,
       false, false, true,
       true, true, false]</rosparam>
    <remap from="odometry/filtered" to="odometry/filtered_map" />
  </node>
</launch>
