<launch>
	<param name="controller_source" value="remote" />
	<param name="isAutonomous" value="false" />
	<param name="remote_ip" value="10.17.202.17" />
	<param name="remote_port" value="42424" />
	<param name="polling_rate" value="10" />

	<node pkg="telemetry" type="telemetry.py" name="telemetry" />
	<node pkg="locomotion" type="digging.py" name="digging" />
	<node pkg="motors" type="digger_motor_controller.py" name="brushed" output="screen"/>
</launch>
