<launch>
	<param name="controller_source" value="remote" />
	<param name="multicast_address" value="224.1.1.1" />
	<param name="multicast_port" value="42424" />
<!--	<param name="remote_ip" value="192.169.0.69" />-->
	<node pkg="telemetry" type="lunabase_stream.py" name="lunabase_stream" />
</launch>
