<launch>
	<param name="controller_source" value="remote" />
	<param name="multicast_address" value="224.1.1.1" />
	<param name="multicast_port" value="42420" />
	<param name="polling_delay" value="0.5" />
<!--	<param name="remote_ip" value="192.169.0.69" />-->
	<node pkg="telemetry" type="telemetry.py" name="telemetry" />
</launch>
